.nav-container{
    background-color: #3F51B5;
    color: white;
    padding: 1.5rem 0.5rem;
    display: flex;
    justify-content: center;
    box-shadow: 1px 0px 10px 3px black;
}

.nav-container>div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70rem;
}

a{
    text-decoration: none;
    color: inherit;
}

.nav-title{
    font-size: 1.4rem;
    padding: 0rem 0.8rem;
}

.nav-title-container{
    display: flex;
    align-items: center;
}

.nav-reg-container>a{
    margin: 0rem 0.5rem;
}