.slider-controls{
    list-style: none;
    display: flex;
    flex-direction: row;
}

.slider-controls>li{
    height: 0.7rem;
    width: 0.7rem;
    border-radius: 50%;
    background-color: red;
    margin: 0rem 0.3rem;
}

.slider-controls>li:hover{
    cursor: pointer;
}